<template>
  <section>
    <article
      class="mx-6 mt-4 mb-12 sm:mx-auto md:mr-8 md:mb-2 p-2 pt-36 sm:p-6 w-full sm:w-3/4 md:w-1/2 text-lg sm:text-xl shadow-xl rounded-lg bg-blue-50"
    >
      <img
        src="../assets/hot-spring.svg"
        alt="icon of hot springs surrounded by rocks"
        class="w-1/3 mx-auto"
      />
      <p class="my-4">
        This app allows to dig hot springs, arrange some rocks around the area,
        and watch the water spread around, ending up with warm and beautiful hot
        springs in the end.
      </p>
    </article>
    <article
      class="mx-6 my-8 sm:mx-auto md:ml-24 p-2 pb-6 sm:p-8 md:p-14 md:px-24 w-full sm:w-3/4 md:w-1/2 text-lg sm:text-xl shadow-lg bg-blue-50"
    >
      <p class="mt-4">
        To use this app, enter your desired 2-D grid dimensions in the
        <span class="italic">`height`</span> and
        <span class="italic">`width`</span> fields, then press the
        <span class="font-semibold">`Create Grid`</span> button.
      </p>
      <p class="mt-8">
        Set the initial dig points of hot springs, arrange the rocks around the
        area, and start the vacation by pressing the
        <span class="font-semibold">`Let the water run`</span> button!
      </p>
      <p class="mt-4">
        Watch the water from the hot springs spread as you prepare for your
        vacation to begin.
      </p>
      <p class="mt-8">
        To restart the vacation, press the
        <span class="font-semibold">`Reset`</span> button and start over.
      </p>
      <p class="mt-6 text-xl md:text-2xl">
        <router-link to="/" class="underline">
          Ready to give it a try?
        </router-link>
      </p>
    </article>
    <article
      class="mx-auto mt-12 p-6 w-3/4 md:w-1/2 text-lg sm:text-xl shadow-md bg-blue-50"
    >
      <p>
        This project is built with <span class="font-semibold">Vue.js</span> and
        <span class="font-semibold">TalwindCSS</span>.
      </p>
      <a
        href="https://gitea.com/m01010/hot-springs-vue3"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="../assets/git.svg" alt="git icon" class="mx-auto mt-4 mb-1" />
      </a>
    </article>
  </section>
</template>
