<template>
  <div>
    <section>
      <h2 class="mt-4 mb-8 text-center text-2xl">
        Please enter your desired 2-D grid size:
      </h2>
      <form class="text-center" @submit.prevent="createGrid">
        <label for="grid-height" class="block text-lg">Height:</label>
        <input
          id="grid-height"
          v-model.number="gridDimensions.height"
          type="number"
          class="my-2 p-1 text-lg border-2 rounded"
          :disabled="gridStore.waterSpreadInProgress"
        />
        <label for="grid-width" class="text-lg block">Width:</label>
        <input
          id="grid-width"
          v-model.number="gridDimensions.width"
          type="number"
          class="my-2 p-1 text-lg border-2 rounded"
          :disabled="gridStore.waterSpreadInProgress"
        />
        <input
          type="submit"
          value="Create Grid"
          class="block mt-4 mx-auto p-2 text-xl border-8 rounded cursor-pointer"
          :disabled="gridStore.waterSpreadInProgress"
        />
        <p
          :class="[
            gridStore.error ? 'opacity-1 h-16' : 'opacity-0 h-0',
            'my-4 mx-auto max-w-3/4 md:max-w-2/4',
            'flex justify-center items-center text-xl rounded-lg bg-red-200',
            'transition-all duration-1000 ease-in-out',
          ]"
        >
          {{ gridStore.error }}
        </p>
      </form>
    </section>
    <GridControl v-if="gridStore.isGridCreated" />
  </div>
</template>

<script setup>
import { reactive } from 'vue'
import { useGridStore } from '../stores/grid.js'
import GridControl from '../components/GridControl.vue'

const gridStore = useGridStore()
const gridDimensions = reactive({ height: null, width: null })

const createGrid = () => {
  if (
    !Number.isInteger(gridDimensions.height) ||
    !Number.isInteger(gridDimensions.width)
  ) {
    gridStore.showError('Please provide width and height')
    return
  }

  if (gridDimensions.height > 20 || gridDimensions.width > 20) {
    gridStore.showError(
      'Number provided is too big, please provide a number less than 20',
    )
    gridDimensions.height = null
    gridDimensions.width = null
    return
  }

  if (gridDimensions.height <= 1 || gridDimensions.width <= 1) {
    gridStore.showError(
      'Number provided is too small, please provide a number greater than 1',
    )
    gridDimensions.height = null
    gridDimensions.width = null
    return
  }

  gridStore.finalSpringStateReached = false
  gridStore.error = null
  gridStore.createGrid({
    height: gridDimensions.height,
    width: gridDimensions.width,
  })

  gridDimensions.height = null
  gridDimensions.width = null
}
</script>
