<template>
  <div class="flex flex-col items-center">
    <h1 class="mt-4 text-center text-xl">Page Wasn't Found</h1>
    <router-link to="/" class="mt-8 text-xl underline">Go Home</router-link>
  </div>
</template>
