<template>
  <section class="mt-4">
    <div
      class="flex flex-col md:flex-row justify-around md:justify-evenly items-center md:items-start"
    >
      <div>
        <form class="text-center">
          <label
            for="dig-radio"
            class="my-1 p-1 flex items-center border-4 rounded-lg"
          >
            <img
              class="w-3/4 p-2"
              src="../assets/dig.jpg"
              alt="image of a hot spring dig area"
            />
            <div class="flex">
              <input
                id="dig-radio"
                v-model="selectedAction"
                type="radio"
                name="dig-radio"
                value="dig"
                :disabled="gridStore.waterSpreadInProgress"
              />
              <p class="text-lg">Dig a hot spring</p>
            </div>
          </label>
          <label
            for="rocks-radio"
            class="my-2 p-1 flex items-center border-4 rounded-lg"
          >
            <img
              class="w-3/4 p-2"
              src="../assets/rocks.jpg"
              alt="rocks image"
            />
            <div class="flex">
              <input
                id="rocks-radio"
                v-model="selectedAction"
                type="radio"
                name="rocks-radio"
                value="rocks"
                :disabled="gridStore.waterSpreadInProgress"
              />
              <p for="rocks-radio" class="text-lg">Put rocks around</p>
            </div>
          </label>
        </form>
      </div>
      <div class="shrink-0 max-w-3/4">
        <div
          v-for="(row, index) in gridStore.grid"
          :key="index"
          class="row flex"
        >
          <div
            v-for="cell in row"
            :key="cell.id"
            :class="[showLabel(cell.value)]"
            :data-index="cell.id"
            @click="changeState"
          ></div>
        </div>
      </div>
      <div class="mt-4 md:mt-0 flex flex-col">
        <button
          class="p-2 text-lg border-8 rounded"
          :disabled="gridStore.waterSpreadInProgress"
          @click="startVacation"
        >
          Let the water run
        </button>
        <button
          class="my-3 p-2 text-lg border-8 rounded"
          :disabled="gridStore.waterSpreadInProgress"
          @click="resetGrid"
        >
          Reset
        </button>
      </div>
    </div>
    <div class="mt-3 text-center text-xl">
      <p v-if="gridStore.waterSpreadInProgress">
        The springs are being created..
      </p>
      <p v-if="gridStore.finalSpringStateReached">
        Please enjoy your hot springs!
      </p>
    </div>
  </section>
</template>

<script setup>
import { ref } from 'vue'
import { useGridStore } from '../stores/grid.js'

const gridStore = useGridStore()
const selectedAction = ref('dig')
const spreadInterval = ref(null)
const wasSpreadModeStarted = ref(false)

const showLabel = (value) => {
  // returns proper class based on cell state
  if (value === null) return 'cell'
  if (value === 'rocks') return 'cell rocks'
  if (value === 'water')
    return wasSpreadModeStarted.value ? 'cell water' : 'cell dig'
  return 'cell'
}

const changeState = (event) => {
  // should not be able to adjust the dug cells once the vacation has started
  if (gridStore.waterSpreadInProgress) return

  // no radio button selected
  if (selectedAction.value !== 'dig' && selectedAction.value !== 'rocks') {
    gridStore.showError('No option selected (dig or rocks)')
    return
  }

  // getting cell coordinates & updating its state
  const [rowI, cellI] = event.target.dataset.index.split('.')
  // if dig selected - change the clicked cell to water, otherwise use rocks
  const action = selectedAction.value === 'dig' ? 'water' : 'rocks'
  gridStore.changeState({ rowI, cellI, action })
}
const startVacation = () => {
  // check if there's at least one water cell on the grid
  let waterCells = false
  for (let i = 0; i < gridStore.grid.length; i += 1) {
    for (let c = 0; c < gridStore.grid[i].length; c += 1) {
      if (waterCells) break
      if (gridStore.grid[i][c].value === 'water') {
        waterCells = true
        break
      }
    }
  }

  if (!waterCells) {
    gridStore.showError('No cells are dug out')
    return
  }

  wasSpreadModeStarted.value = true
  clearInterval(spreadInterval)
  gridStore.waterSpreadInProgress = true
  // set an interval to keep spreading the water
  spreadInterval.value = setInterval(() => {
    const result = gridStore.spreadNext()
    if (result) {
      clearInterval(spreadInterval.value)
      spreadInterval.value = null
      gridStore.finalSpringStateReached = true
      gridStore.waterSpreadInProgress = false
      return
    }
  }, 750)
}
const resetGrid = () => {
  wasSpreadModeStarted.value = false
  gridStore.finalSpringStateReached = false
  clearInterval(spreadInterval.value)
  spreadInterval.value = null
  gridStore.createGrid({
    height: gridStore.height,
    width: gridStore.width,
  })
}
</script>

<style>
.row .cell {
  background: url('../assets/earth.jpg');
  background-size: cover;
  border-width: 2px 2px 0 0;
  width: 50px;
  height: 50px;
}

.row.cell:first-child {
  border-left-width: 2px;
}

.row.cell:last-child .cell {
  border-bottom-width: 2px;
}

.dig {
  background: url('../assets/dig.jpg') !important;
  background-size: cover !important;
}

.rocks {
  background: url('../assets/rocks.jpg') !important;
  background-size: cover !important;
}

.water {
  background: url('../assets/water.jpg') !important;
  background-size: cover !important;
}
</style>
