<template>
  <header>
    <nav
      class="mb-4 p-5 flex justify-center items-center text-xl xs:text-2xl bg-blue-50 shadow-md"
    >
      <img
        alt="hot springs logo"
        src="../assets/dig.jpg"
        class="h-[50px] sm:h-[75px] rounded-xl"
      />
      <ul class="w-2/3 flex justify-center">
        <li class="font-bold"><router-link to="/">Home</router-link></li>
        <span class="mx-4">|</span>
        <li class="font-bold"><router-link to="/about">About</router-link></li>
      </ul>
    </nav>
  </header>
</template>
