<script setup>
import HeaderComponent from './components/HeaderComponent.vue'
import FooterComponent from './components/FooterComponent.vue'
</script>

<template>
  <div class="min-h-screen min-w-[320px] flex flex-col text-vblue">
    <HeaderComponent />
    <main class="grow">
      <router-view />
    </main>
    <FooterComponent />
  </div>
</template>
